<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
<listeners>
    <listener class-name="extentReportListener.ExtentReportListener"/>
    <listener class-name="util.Transformer"/>
  </listeners>
<test name="MyTest">
<classes>
     <!-- <class name="baparameter.Testcase001"/> -->
        <class name="BAParameterAutomation.Testcase2"/>
    </classes>
  </test>
</suite>